.region-buttons {
  display: flex;
  gap: 30px;
  
  align-items: center;
  justify-content: center;
}
.region-field {
  background-color:  rgb(15, 89, 15);
  padding: 15px 10px;
  border-radius: 5px;
}
.region-buttons button {
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}
.region-buttons .active {
  border: 2px solid #f1f7f1; /* Viền xanh lá khi được chọn */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  
}