.promo-wrapper {
  padding: 60px 0; /* bỏ padding trái phải để khớp layout 1200px */
}

.promo-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: rgb(15, 89, 15);
  margin-bottom: 40px;
}

/* LIST */
.promo-tour-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.promo-tour-card {
  display: flex;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.promo-img-box {
  position: relative;
}

.promo-img-box img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.promo-badge {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 14px;
  font-size: 13px;
  color: white;
  background: #c62828;
  border-radius: 0 8px 0 0;
}

.promo-info {
  padding: 16px 28px;
}

.promo-info h3 {
  font-size: 25px;
  font-weight: 700;
}

.promo-info p {
  font-size: 18px;
  margin: 3px 0;
}

.promo-price {
  margin-top: 8px;
  color: #d60000;
  font-weight: 700;
  font-size: 25px;
}

.promo-detail-btn {
  margin-top: 50px;
  padding: 8px 20px;
  background: rgb(15, 89, 15);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.promo-viewall {
  text-align: center;
  margin-top: 35px;
}

.promo-viewall button {
  padding: 12px 40px;
  background: white;
  border: 2px solid rgb(15, 99, 15);
  color: rgb(15, 89, 15);
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

.promo-viewall button:hover {
  background: rgb(15, 89, 15);
  color: white;
}

/* Banner */
.promo-banner {
  margin-top: 60px;
  position: relative;
}

.promo-banner img {
  width: 100%;
  border-radius: 20px;
  height: 360px;
  object-fit: cover;
}

.promo-banner-content {
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.promo-banner-content h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.promo-banner-content button {
  margin-top: 16px;
  padding: 12px 26px;
  font-size: 18px;
  background: white;
  color: rgb(15, 89, 15);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.promo-banner-content button:hover {
  background: rgb(15, 89, 15);
  color: white;
}