.region-buttons {
  display: flex;
  gap: 50px;
  
  align-items: center;
  justify-content: center;
}
.region-field {
  
  padding: 15px 10px;
  border-radius: 5px;
}

.region-buttons button {
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}
.region-buttons .active {
  border: 2px solid #f1f7f1; /* Viền xanh lá khi được chọn */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  
}
.region-bg-btn {
  width: 250px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.25s;
}

.region-bg-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: white;
  font-weight: 700;
  font-size: 26px;

  text-shadow: 0 0 10px rgba(0,0,0,0.9);
  z-index: 2;
  pointer-events: none; /* tránh bị ảnh hưởng bởi click */
}


.region-bg-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25); /* lớp làm tối hình */
  z-index: 1;
  transition: 0.25s;
}

.region-bg-btn:hover::after {
  background: rgba(0,0,0,0.45);
}

.region-bg-btn.active::after {
  background: rgba(0,0,0,0.50);
}
