.cross-icon{
  width: 20px;
  cursor: pointer;
}
.login-popup{
  position:absolute;
  z-index:1;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  display: grid;;
}
.login-popup-container{
  place-self: center;
  width: max(23vw,330px);
  color:rgb(21, 55, 21);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 15px;
  animation:fadeIn 0.5s;
}
.login-popup-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(21, 55, 21);
}
.login-popup-inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-popup-inputs input{
  outline: none;
  padding: 10px;
  font-size: 14px;
  border:1px solid rgb(104, 118, 111);
  border-radius: 5px;
}
.login-popup-container button{
  background-color: rgb(15, 89, 15);
  color: white;
  border:none;
  padding:10px;
  font-size: 16px;
  border-radius:5px;
  cursor: pointer;
  transition: 0.3s;
}
.login-popup-condition{
  display: flex;
  align-items: start;
  gap:8px;
  margin-top: -15px;
}
.login-popup-condition input{
  margin-top: 5px;
}
.login-popup p span{
  color: rgb(15, 89, 15);
  font-weight: 500;
  cursor: pointer;
}